In [69]:
import pandas as pd
import numpy as np
import re, math, os, tarfile, collections, sys, types

import matplotlib
import seaborn as sns
import matplotlib.dates as md
import matplotlib as mpl 
import matplotlib.pyplot as plt

import seaborn

In [70]:
def load_data(path):
    return pd.read_csv(path)

In [71]:
df = load_data('./job_skills.csv')

In [72]:
df.dropna(inplace = True)

In [73]:
df.describe()

,Company,Title,Category,Location,Responsibilities,Minimum Qualifications,Preferred Qualifications
count,1235,1235,1235,1235,1235,1235,1235
unique,2,779,23,91,801,806,820
top,Google,Business Intern 2018,Sales & Account Management,"Mountain View, CA, United States",Responsibilities and detailed projects will be...,Currently enrolled in a Bachelor's or Master's...,Interest in the technology industry and Google...
freq,1212,35,168,187,33,32,32

In [74]:
df.to_csv('./job_skills_final.csv')

In [75]:
df["min"] = df["Minimum Qualifications"].astype(str).str[:38]

In [76]:
df["pref"] = df["Preferred Qualifications"].astype(str).str[:38]

In [77]:
df["resp"] = df["Responsibilities"].astype(str).str[:60]

In [78]:
df.to_csv('./job_skills_final2.csv')